<center>
	<div class="span5 offset3">
		<div class="page-header">
    		<h3>Test Complete!</h3>
  		</div>
		<p>You have successfully completed the first round of the Kunal Infotech Aptitude Test! Results will be announced shortly. <br><br> This Test Application is powered by the awesomeness of <br><strong>Kunal Infotech!</strong>

<table class="table table-nonfluid">
	<caption>Results</caption>
	<h2>
		<tr>
			<th>Out Of</th>
				<td><%= params[:@no_of_question] %></td>
		</tr>
 		<tr>
			<th>Score</th>
				<td><%= params[:@count] %></td>
		</tr>
		<tr>
			<th>Marks In %</th>
				<td><%= params[:@u_result]%></td>
		</tr>
	</h2>

</table>

	</div>
	
</center>


<!-- Added javascript  for back button-->

		<script>

			  jQuery(document).ready(function($) {

		  		if (window.history && window.history.pushState) {

		    		window.history.pushState('forward', null, './#forward');

		    		$(window).on('popstate', function() {
		    		history.forward();
	
		    		});
		  		}
			});
		</script>


 <script>
      var hook = true;
      window.onbeforeunload = function() {
        if (hook) {

          return "ad     "

        }
      }
      function unhook() {
        hook=false;
      }
 </script>