<h1>Thank you!!! </h1><center>
<%#= params %><fieldset>
<%# raise params.inspect %>

<h3><b>Your Have Scored : <%= params[:@count] %></h3>
<h3>Marks In Percentile : <%= params[:@u_result] %><h3>
	
	</fieldset>	</center>

	