<%= render 'layouts/adminsection' %>
<h1><center>Admin!!!</center></h1>
<%= link_to "List Of Exams", exams_path,:class => 'btn btn-primary'%></br></br></br>
<%= link_to "List Of Users", users_path,:class => 'btn btn-primary' %>



