

<div>
  <div class="navbar-inner">
    <div class="container">
      <div class="container nav-collapse">
        <% if adminsection_signed_in? %>
  		      <p><h4 align = "right">Welcome <%= current_adminsection.email %> | <%= link_to image_tag("images.png" , :alt => "Logout", :width => 70, :height => 49, :border => 0) , destroy_adminsection_session_path, :method => :delete %></h4></p>
        <% else %>
          <p>You are not Logged in. | <%= link_to 'Login', new_adminsection_session_path %></p>
  
        <% end %>
     </div><!--/.nav-collapse -->
    </div>
   </div>
  </div>

<div class="container">
    
    <%= yield %>

</div>
       


